/* background-color: #007bff; */

.CreatedPostContainer {
  display: flex;
}
.content {
  flex: 1;
  padding: 30px 30px;
  margin-left: 280px;
}
.content > h1 {
  text-align: center;
}
.mybars {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
}
.myForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form_field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 15px;
  width: 100%;
}
.form_field > input {
  height: 40px;
  padding-left: 10px;
  border: 1px solid rgb(235, 230, 230);
}
.form_field > input:focus {
  outline: 1px solid #007bff;
}
.form_field > label {
  margin-bottom: 10px;
  font-weight: 600;
}
.myForm > button {
  background-color: #007bff;
  border: none;
  outline: 1px solid #007bff;
  padding: 10px 0px;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  color: white;
}
.form_field > input[type="file"] {
  padding-top: 10px;
  cursor: pointer;
}
.form_field > textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(235, 230, 230);
}
.form_field > textarea:focus {
  outline: 1px solid #007bff;
}
.form_field > select {
  cursor: pointer;
  height: 40px;
  border: 1px solid rgb(235, 230, 230);
}
@media screen and (max-width: 786px) {
  .content {
    margin-left: 0;
  }
  .mybars {
    display: block;
  }
  .mycontainer {
    display: flex;
    align-items: center;
  }
  .mycontainer > h1 {
    text-align: center;
    padding-left: 30px;
  }
}
