.container {
  position: relative;
}
.cameraIcon {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  color: black;
}
.photoIcon {
  width: 45px;
  height: 45px;
  color: white;
}
.title {
  position: absolute;
  top: 50%;
  z-index: 900;
  background-color: white;
  padding: 1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  border: 8px solid;
  border-image: linear-gradient(to bottom right, #ffb8b7, #f57b51);
  border-image-slice: 1;
}

.title h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.title span {
  font-size: 1.5rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.item {
  position: relative;
  margin: 1rem;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.item:hover .overlay {
  opacity: 1;
  border-radius: 5px;
}

.image {
  transition: transform 0.5s ease;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item:hover .image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay h3 {
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 576px) {
  /* Styles for mobile phones */
  .image{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

/* Small Devices (Tablets) */
@media (max-width: 768px) {
  /* Styles for tablets */
}
@media (min-width: 768px) {
}

/* Medium Devices (Laptops) */
@media (max-width: 992px) {
  /* Styles for laptops */
}

/* Large Devices (Desktops) */
@media (max-width: 1020px) {
  /* Styles for desktops */
}
