:root {
  --color-black: #000000;
  --color-blue: #0000ee;
  --color-gray: #888888;
  --color-light-gray: #999999;
  --color-dark-gray: #111111;
  --color-lighter-gray: #cccccc;
  --color-off-white: #f4f4f2;
  --color-light-off-white: #f4f4f4;
  --color-very-light-off-white: #f7f5f4;
  --color-red: #ffb8b7;
  --color-white: #ffffff;
  --color-dark: #2d2d2d;
  --color-darker: #373737;
  --color-darkest: #424242;
  --color-black-opacity-0: rgba(0, 0, 0, 0%);
  --color-black-opacity-20: rgba(0, 0, 0, 20%);
  --color-black-opacity-50: rgba(0, 0, 0, 50%);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000000;
}


a {
  color: inherit;
  text-decoration: none;
}

